/* || CSS for all pages
 *      body and nav
 *    and for the img on the home page
 */
    * {
        box-sizing: border-box;
        margin:0;
        padding:0; 
    }

    html, body {
    	width:100%;
        height: 100%;
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 100%;
        background-color:black;
	    color: white; 
    }

/* || End CSS for all pages

    /* || CSS for the mainContainer (class="mainCntnr") */

        .main-cntnr {
  /*        display: flex;
            align-items: center;
            justify-content: center;  */
            width: 100%;
            height: 99vh;
            overflow: hidden;
            background: black;
         /*    margin-top: 3em;  */
        /*   border: 2px solid green;  */
      }

    /* || End CSS for mainContainer





    /* || CSS for 'main' Navigation  */

        .nav-label {
            position: fixed;
            top: 0em;
            left: 1em;
           /* height: 1em; */
 /*chgd*/   font-size: 2em; /*1.2em; */
            padding: 0 1em;
            cursor: pointer;
            border-bottom: 0.1em solid white;
            background-color: black;
            z-index: 10;
        }

            .nav-label:hover {
                color: orange;
            }

                .nav-item{

                }

                    .nav-item:hover{
                       color: orange; 
                    }  

                .sel-nav {
                    display: none;
                }



        .nav-cntnr {
            position: fixed;
            top: 1.5em;
            left: 0.05em;
            opacity: 1;
            transition: opacity ease-in-out 0.3s;
            z-index: 100;
            background-color: black;
         /*   border: 1px solid white;  
            display: none; */
         /*   margin-top: -1.1em;  */
        }

            .hide-nav-cntnr {
                opacity: 0;
                z-index: -1;
            }

            .nav-options-cntnr {
           /*     border: 1px solid red;  
                width: 5.5em;
                height: 5.5em;  */
           /*     transition-property: width, height, opacity;
                transition-duration: 0.7s;
                transition-timing-function: ease-in-out;  
                margin-top: 5px;  */
                padding: 1.5em; 
                padding-top: 0;
             /*   z-index: 10;  */
            }

                .options-ul {
                    list-style-type: none;
               /*     border: 1px solid yellow;  */
                }

                    .options-ul li{
                        cursor: pointer;
                    }

    /* || End CSS for main Nav  */

      

    /* || CSS for .page-cntnr  */

    .page-cntnr {
        position: relative;
        top: 0;
        left: 0;  
        width: 100%;
        height: 100%;
    /*    padding-top: 4.7vw; 
        margin: 5px;
        background: black;  */
        /*  border: 2px solid red;  */
    }

        /* || CSS for all pages  */

        .page {
            position: absolute;
            top: 0;
            left: 0;  
            width: 100%;
            height: 99vh; /* calc(99% - 3.2em);  */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        /*    margin: 5px;  */
            background: black;  
        /*    border: 2px solid blue; */
            opacity: 0;
            transition: opacity 1.1s ease-in-out;  
            overflow: hidden;   
        }

        .show-pg {
         /*    display: block; */
            opacity: 1;
           z-index: 1; 
        }

        .hide-pg {
          /*  display: none; */
            opacity: 0;
            z-index: 0;  
        }

        /* || End CSS for all pages

    /* || End CSS for .page-cntnr



    /* || CSS for home page  */

        .home-page {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
         /*   display: grid;
            place-items: center;  */
            display: flex;
            flex-direction: column; 
            justify-content: center;
                background-image: url("imgs/Goals_Checked.png");
                background-size: contain;
          /*  align-items: flex-center; */  
         /*   margin: 2px;  */
         /*   border: 2px solid white;  */ 
        }

            .heading-cntnr {
                width: 100%;
                height: 50%;
            /*    margin-top: 10em; */
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
             /*   border: 1px solid red;   */
            }
      
        

            .home-page h1 {
        /*    border: 1px solid orange;  */
                font-size: 4.8em;
        /*    height: 5em;   */
            }  

            .home-page h2 {
        /*    border: 1px solid orange;  */
                font-size: 4.2em;
        /*    height: 3em;
            margin-bottom: 1em; */
            }  

            .home-page h3 {
        /*    border: 1px solid orange;  */
                font-size: 3.5em;
        /*    height: 3em;
            margin-top: 1em; */
            }

    /* || End CSS for home page  */




    /* || CSS for About page  */

        .about-pg {
        }

            .sub-page {
                width: 100%;
                height: 100%; /* calc(100% - 5.2vw); */
                position: absolute;
                top: 0;
                left: 0; 
            /*    background-color: black;  */
             /*   display: flex;
                flex-direction: column;
                align-items: center;  
                justify-content: center;  */ 
            /*    border: 2px solid yellow;  
                overflow: hidden;   */
            }

                .sub-page label {
                    color: orange;
                }

                .sub-page li {
                    color: #CCC;
                }



            .divCntnr {
                width: 100%;
                height: 100%;
             /*   padding: 5px;  */
                display: flex;
                flex-direction: column;
                align-items: center;
            /*     text-align: center;
              border: 1px solid red; */
            }

                .divCntnr label {
                /*      text-align: center;
                    margin: auto;*/
                    font-size: 7vh;
                    word-wrap: break-word;
                }

            .labelCntnr {
                width: 100%;
                text-align: center;
                margin-top: 0.5em;
          /*      display: flex;
                justify-content: space-around;  */
            }

            .ulCntnr {
                width: 65%; 
                margin-top: 0.5em;
                margin-left: 3em;
                font-size: 5vh;
             /*   text-decoration: none;  */
                list-style-type: none;
             /*   display: flex;
                flex-direction: column;
                align-items: center;  */
            } 

                .ulCntnr li {
                    margin-bottom: 0.3em;
               /*     display: flex;
                    text-align: center; */
                }

        .form {
            position: absolute;
            top: -0.3em;
            left: -0.3em; 
            background-color: #ff00ff;
            width: 0.6em;
            height: 0.6em;
        /*    border:1px solid orange;  */
            border-radius: 0.3em;
            cursor: pointer;
            z-index: 10;
        }

        .form_2 {
         /*   display: inline;
            background-color: #ff00ff; */
            width: 1.3em;
           /* height: 0.3em;
            border-radius: 0.15em;
            border: 1px solid yellow; */
        }

        .nodeName {
            position: relative;
            top: -0em;
            left: 0em;
        }

    /* || CSS for .about-nav class */

        .about-nav {
            display: flex;
            justify-content: center;
         /*   width: calc(100% - 20em);  
            margin-left: 10em;
            z-index: -1;   
            border: 1px solid red;  */
        }

    /* || End CSS for .about-nav class */

/*|| End CSS for About page   */






/* || CSS for Company Page */

    #companyCntnr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px; 
     /*   border: 1px solid green; */
    }

    #companyVis {
        position:relative;
        width:100%;  /*600px */
        height:90vh;  /* 600px */
        margin:auto;
        margin-top: -2em;
        overflow:hidden;
        background-color:black;
     /*   border:1px solid red; */
    }

    #companyLog {
        position:absolute;
        top:2em;
        right:0.5em;  
        font-size:0.7em;
        font-weight:bold;
        color:yellow; 
        z-index:5; 
        padding:5px;
        border:1px solid yellow; 
        overflow:visible;
    }

    /*TOOLTIPS*/
    .tip {
        color: #111;
        width: 139px;
        background-color: white;
        border:1px solid #ccc;
        -moz-box-shadow:#555 2px 2px 8px;
        -webkit-box-shadow:#555 2px 2px 8px;
        -o-box-shadow:#555 2px 2px 8px;
        box-shadow:#555 2px 2px 8px;
        opacity:0.9;
        filter:alpha(opacity=90);
        font-size:10px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        padding:7px;
    }

/* || End CSS for Company Page */





/* || CSS Miscellaneous: opacity, z-index */

    /* CSS for hiding pages */

    .show {
        opacity: 1;
    }


    .blur {
        opacity: 0.6;
    }

    /* CSS z-index */

    .z2 {
        z-index: 2;
    } 

    .z5 {
        z-index: 5;
    }

    .z10 {
        z-index: 10;
    }

    .spanIndent {
        opacity: 0;
    }

    .underline {
        color: orange;
    }

/* || End CSS Miscellaneous: opacity, z-index */
