/* CSS for all pages
 *      body and nav
 *    and for the img on the home page
 */
    * {
        box-sizing: border-box;
        margin:0;
        padding:0; 
    }

    html, body {
    	width:100%;
        height: 100%;
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 100%;
        background-color:black;
	    color: white; 
    }

    /* CSS for the mainContainer (class="mainCntnr") */

      .mainCntnr {
  /*      display: flex;
        align-items: center;
        justify-content: center;  */
        width: 100%;
        height: 99vh;
        overflow: hidden;
        background: black;
     /*    margin-top: 3em;  */
    /*   border: 2px solid green;  */
      }


    /* CSS for 'main' Navigation  */

    .selNav {
        color: orange;
    }

	.mainNav {
    /*    display: none;  */
	    position: fixed;
	    top: 0;
        left:0;
	    width:100%;
		height:3.2em;
    /*    opacity: 0.3;  */
	/*	margin: 0.1em;
		margin-top:0.1em; */
        background-color:black;
	/*	border: 1px solid red;  */
	}

 /*       .mainNav img {
            position: absolute;
            top: 0;
            left: 0.5em;
            height: 150%;
        }
 */
        .navList {
     /*       position: absolute;
            top: 0;
            right: 0;  */
            width: 100%;
            text-decoration: none;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 0.2em;    
            padding: 0;
        }

        .navItem {
       /*     text-decoration: none; */
            cursor:pointer;
      /*      height: 1.4em;  */
            font-size: 1.4em; /*calc(1em + 22 * 70vw/1620); 2vw;  */
     /*       padding: 0.1em 0.1em;
            margin: 0.1em 0.2em;  */
            color: white;
            transition: color .5s ease;
      /*      border: 1px solid white;   
            background-color:black;  */
        }

        .navItem:hover {
        /*    padding-top: 0.05em;  */
            color: orange; /*#FFA07A; */
            opacity: 0.5;
            transition: color .5s ease;
        }

        .navSubItem {
       /*     text-decoration: none; */
            cursor:pointer;
      /*      height: 1.4em;  */
            font-size: 1.2em;/*calc(0.7em + 22 * 70vw/1620); 2vw;  */
     /*       padding: 0.1em 0.1em;
            margin: 0.1em 0.2em;  */
            margin-right: 1.5em;
            color: white;
            transition: color .5s ease;
     /*       border: 1px solid white;   
            background-color:black;  */
        }

        .navSubItem:hover {
        /*    padding-top: 0.05em;  */
            color: orange; /*#FFA07A; */
        /*    opacity: 0.5;  */
            transition: color .5s ease;
        }


    .subNav {
    /*    display: none;  */
        width: 100%;
        height: 1.4em;
        display: flex;
        justify-content: space-around;
    /*    opacity: 0.3;  */
    /*  margin: 0.1em;
        margin-top:0.1em; */
        background-color:black;
     /*   border: 1px solid blue;  */
    }
        .navSubList {
         /*   position: absolute;
            top: 2.6vw;
            right: 0; */
         /*  width: 75%;  */
            text-decoration: none;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        /*    margin-left: 2em;   */ 
            padding: 0;
        /*    border: 4px solid green;  */
        }
      

    /* CSS for page container  */

    .pageCntnr {
        position: relative;
        top: 0;
        left: 0;  
        width: 100%;
        height: 100%;
    /*    padding-top: 4.7vw; 
        margin: 5px;
        background: black;  */
        /*  border: 2px solid red;  */
    }

        /* CSS for home page  */

        .homePage {
            width: 100%;
            height: 50%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
         /*   align-items: flex-center;  */
         /*   margin: 2px;  */
          /*  border: 2px solid white;   */
        }

            .headingCntnr {
                width: 100%;
                height: 100%;
                margin-top: 10em;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border: 1px solid red;   
            }
      
        

            .homePage h1 {
        /*    border: 1px solid orange;  */
                font-size: 2em;
        /*    height: 5em;   */
            }  

            .homePage h2 {
        /*    border: 1px solid orange;  */
                font-size: 1.7em;
        /*    height: 3em;
            margin-bottom: 1em; */
            }  

            .homePage h3 {
        /*    border: 1px solid orange;  */
                font-size: 1.4em;
        /*    height: 3em;
            margin-top: 1em; */
            }



        /* CSS for page  */

        .page {
            position: absolute;
            top: 0;
            left: 0;  
            width: 100%;
            height: 99vh; /* calc(99% - 3.2em);  */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        /*    margin: 5px;  */
            background: black;  
           border: 2px solid blue;  
            overflow: hidden;   
        }



            /* CSS for About page  */

            .subPage {
                width: 100%;
                height: 100%; /* calc(100% - 5.2vw); */
                position: absolute;
                top: 0;
                left: 0; 
            /*    background-color: black;  */
             /*   display: flex;
                flex-direction: column;
                align-items: center;  
                justify-content: center;  */ 
            /*    border: 2px solid yellow;  
                overflow: hidden;   */
            }

                .subPage label {
                    color: orange;
                }

                .subPage li {
                    color: #CCC;
                }



            .divCntnr {
                width: 100%;
                height: 100%;
             /*   padding: 5px;  */
                display: flex;
                flex-direction: column;
                align-items: center;
            /*     text-align: center;
              border: 1px solid red; */
            }

                .divCntnr label {
                /*      text-align: center;
                    margin: auto;*/
                    font-size: 7vh;
                    word-wrap: break-word;
                }



            .labelCntnr {
                width: 100%;
                text-align: center;
                margin-top: 0.5em;
          /*      display: flex;
                justify-content: space-around;  */
            }

            .ulCntnr {
                width: 65%; 
                margin-top: 0.5em;
                margin-left: 3em;
                font-size: 5vh;
             /*   text-decoration: none;  */
                list-style-type: none;
             /*   display: flex;
                flex-direction: column;
                align-items: center;  */
            } 

                .ulCntnr li {
                    margin-bottom: 0.3em;
               /*     display: flex;
                    text-align: center; */
                }



            /* CSS for Execute page  */

                /* CSS for .execPlanCntnr  */


                .execPlanCntnr {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;  
                    width: 100%;
                    height: 100%;
                    margin: 5px;
                    color: white;
                /*      background: red;
                  border: 2px solid blue; */
                }

                    .execPlanCntnr label {
                        color: white;
                        font-size: 1.5em;
                    }


                /* CSS for .selectorCntnr  */

                .selectorCntnr {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;             
                    padding: 2px;
                    width: 100%;
                    height: 20em;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 5px;
                /*  border: 1px solid blue;  */
                }


                    /* CSS for .selectorLabel  */  

                    .selectorLabel {
                    /*     writing-mode: vertical-rl;
                        text-orientation: upright;  
                        margin-top: -1em;  */
                        cursor: pointer;
                        font-size: 0.5em;
                        color: white;
                        font-weight: bold;
                        width: 2em;
                    /*    height: 7em; 
                        padding: 0.2em;  */
                    /*   margin-right: 0.5em;  */
                        background-color: white;
                    /*    border: 1px solid white;  */
                        border-bottom-left-radius: 1em;
                        border-bottom-right-radius: 1em; 
                        z-index: 10;  
                    }


                    /* CSS for .optionsCntnr  */  

                    .optionsCntnr {
                        display: flex;
                        justify-content: space-between;
                        transition: opacity 0.6s ease;
                        padding-left: 1.5em;
                        padding-right: 1.5em;
                        padding-bottom: 1.5em;
                        background: black;
                     /*   border: 1px solid yellow; */
                        box-sizing: content-box;
                        color: white;
                        margin-top: -1em;
                    }

                        .optionsCover {
                            position: relative;
                            display: flex; 
                        /*    justify-content: space-between; */
                            width: 24em;
                            height: 16em;
                        /*    margin-top: 1.5em;
                            margin-right: 1.5em;
                            margin-bottom: 1.5em; */
                            padding: 1em;
                         /*   border: 1px solid orange;  */
                        }


                        /* CSS for .deptList, .divListCntnr  */   

                        .deptList, .divListCntnr {
                         /*    position: relative;
                            transition: margin-left 1s ease;
                           padding: 1em;
                            margin: 5px;
                              transition-delay: 0.7s;
                          width: 4em;
                            height: 5em; */
                        } 

                            .deptOptions, .divOptions {
                                list-style: none;
                                font-size: 1.3em;
                                padding: -1px;  
                                white-space: nowrap; ;
                             /*   border: 1px solid green;  */
                            }

                                .deptOptions li, .divOptions li {
                                    cursor: pointer;
                                /*    border: 1px solid blue; */
                                }


                        /* CSS for .deptList  */

                            .deptLabel {
                                color: white;
                                font-size: 1.5em;
                           /*     border: 1px solid white;  */
                            }

                            .deptOptions {
                                position: absolute;
                                top: 0;
                                left: 0;
                                list-style: none;
                                font-size: 1.3em;
                            }

                                .deptOptions li {
                                    cursor: pointer;
                                }

               
                            .deptOptions {
                             /*   margin-left: -2em;  */
                            }

                                .deptOptions li {
                                    margin-left: -1.8em;  
                                }


                        /* CSS for .divListCntnr  */  

                        .divListCntnr {
                            position: relative;
                            height: 100%;
                            margin-left: 1em;
                        /*    border: 1px solid blue; */
                        }

                            .divLabel {
                                padding-left: 1.3em;
                                color: white;
                                font-size: 1.5em;
                             /*   border: 1px solid white;  */
                            }





                
  /*       .deptSelectorCntnr {
            position: absolute;
            left: 0;
            top: 0; 
            height: 100%; 
            width: 1.2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
           border: 1px solid red; 
        }  */





                .selectedDept, .selectedDiv {
                    color: orange;
                }

                .selectedDivList {
                    opacity: 1;
                }

                .unSelectedDivList {
                    opacity: 0;
                }






        .hideOptions {
            opacity: 0;
            z-index: -1;
        }

        .currentId {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
        }
  

     .selNav {
            color: orange;
        }

        .z2 {
            z-index: 2;
        } 


                .hideDeptOptions {
                    margin-left: -3em;
                }

                .showDeptOptions {
                    margin-left: 7em; 
                }

                .selectedDept {
                    color: orange;
                }

                .unSelectedDept {
                    color: white;
                }




        .currentDeptDivLabelCntnr {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-around;
        }





       /*     .h2Cntnr {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                width: 1.3em;
                height: 100%;
            }  */



    /* CSS for hiding pages */
    .show {
        opacity: 1;
        transition: opacity 2s ease;
    }

    .hide {
        opacity: 0;
        transition: opacity 0.5s ease;
    }





    /* CSS for Company Page */

    #companyCntnr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px; 
        border: 1px solid green; 
    }

    #companyVis {
        position:relative;
        width:100%;  /*600px */
        height:90vh;  /* 600px */
        margin:auto;
        margin-top: -2em;
        overflow:hidden;
        background-color:black;
        border:1px solid red; 
    }

    #companyLog {
        position:absolute;
        top:3em;
        left:0.5em;  
        font-size:0.7em;
        font-weight:bold;
        color:yellow; 
        z-index:5; 
        padding:5px;
        border:1px solid yellow; 
        overflow:visible;
    }



    /*TOOLTIPS*/
    .tip {
        color: #111;
        width: 139px;
        background-color: white;
        border:1px solid #ccc;
        -moz-box-shadow:#555 2px 2px 8px;
        -webkit-box-shadow:#555 2px 2px 8px;
        -o-box-shadow:#555 2px 2px 8px;
        box-shadow:#555 2px 2px 8px;
        opacity:0.9;
        filter:alpha(opacity=90);
        font-size:10px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        padding:7px;
    }






    /* CSS Miscellaneous: opacity, z-index */

    .blur {
        opacity: 0.6;
    }

    /* CSS z-index */

    .z5 {
        z-index: 5;
    }

    .z10 {
        z-index: 10;
    }

    .spanIndent {
        opacity: 0;
    }

    .underline {
        color: orange;
    }
