/* CSS for media Queries 1281px to 1600px */

    /* for home page  */

        @media only screen and (min-width: 1280px) and (max-width: 1599px) {


    /* CSS for 'main' Navigation  */

    .selNav {
        color: orange;
    }

    .mainNav {
    /*    display: none;  */
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height:4.5em;
    /*    opacity: 0.3;  */
    /*  margin: 0.1em;
        margin-top:0.1em; */
        background-color:black;
      /*  border: 1px solid red;  */
    }

        .navItem{
       /*     text-decoration: none; */
            cursor:pointer;
      /*      height: 1.4em;  */
            font-size: 2.0em; /*calc(1em + 22 * 70vw/1620); 2vw;  */
     /*       padding: 0.1em 0.1em;
            margin: 0.1em 0.2em;  */
            color: white;
            transition: color .5s ease;
      /*      border: 1px solid white;   
            background-color:black;  */
        }

        .navSubItem{
       /*     text-decoration: none; */
            cursor:pointer;
      /*      height: 1.4em;  */
            font-size: 1.8em;/*calc(0.7em + 22 * 70vw/1620); 2vw;  */
     /*       padding: 0.1em 0.1em;
            margin: 0.1em 0.2em;  */
            margin-right: 3em;
            color: white;
            transition: color .5s ease;
     /*       border: 1px solid white;   
            background-color:black;  */
        }


      

    /* CSS for page container  */

    .pageCntnr {
        position: relative;
        top: 4.5em;
        left: 0;
        width: 100%;
        height: 100vh;
    /*    padding-top: 4.7vw; */
    /*    margin: 1em;  */
     /*   border: 1px solid yellow;  */
    }


    /* CSS for home page  */

    .homePage {
        width: 100%;
        height: 75%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-center;  
     /*   margin: 2px;  */
     padding: 5px;
        border: 2px solid white;   
    }
      
        

      .homePage h1 {
    /*    border: 1px solid orange;  */
        font-size: 4.8em;
    /*    height: 5em;   */
      }  

      .homePage h2 {
    /*    border: 1px solid orange;  */
        font-size: 4.2em;
    /*    height: 3em;
        margin-bottom: 1em; */
      }  

      .homePage h3 {
    /*    border: 1px solid orange;  */
        font-size: 3.5em;
    /*    height: 3em;
        margin-top: 1em; */
      }

    .page {
        width: 100%;
        height: calc(99% - 4.5em);
        position: absolute;
        top: 0;
        left: 0;
    /*    background-color: black;  */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2px;   
   /*     border: 2px solid yellow;  */
       overflow: hidden;   
    }