/* CSS for all pages
 *      body and nav
 *    and for the img on the home page
 */
    * {
        box-sizing: border-box;
        margin:0;
        padding:0; 
    }

    html, body {
    	width:100%;
        height: 100%;
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 100%;
        background-color:black;
	    color: white; 
    }

    /* CSS for the mainContainer (class="mainCntnr") */

      .mainCntnr {
  /*      display: flex;
        align-items: center;
        justify-content: center;  */
        width: 100%;
        height: 99vh;
        overflow: hidden;
     /*    margin-top: 3em;  */
    /*   border: 2px solid green;  */
      }






    /* CSS for 'main' Navigation  */

	.mainNav {
    /*    display: none;  */
	    position: fixed;
	    top: 0;
        left:0;
	    width:99%;
		height:2.5vw;
    /*    opacity: 0.3;  */
	/*	margin: 0.1em;
		margin-top:0.1em; */
        background-color:black;
	/*	border: 1px solid red;  */
	}

 /*       .mainNav img {
            position: absolute;
            top: 0;
            left: 0.5em;
            height: 150%;
        }
 */
        .navList {
            position: absolute;
            top: 0;
            right: 0;
            width: 95%;
            text-decoration: none;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
      /*      margin: 0 2em;    */
            padding: 0;
        }

        .navItem{
       /*     text-decoration: none; */
            cursor:pointer;
      /*      height: 1.4em;  */
            font-size: calc(16px + 22 * 70vw/1620); /*2vw;  */
     /*       padding: 0.1em 0.1em;
            margin: 0.1em 0.2em;  */
            color: white;
            transition: color .5s ease;
    /*        border: 1px solid white;   */
   /*         background-color:black;  */
        }

        .navItem:hover {
        /*    padding-top: 0.05em;  */
            color: orange; /*#FFA07A; */
            transition: color .5s ease;
        }

        .selPg {
            color:orange;
        }




      

    /* CSS for 'main' Navigation  */

    .pageCntnr {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    /*    padding-top: 4.7vw; */
    /*    margin: 1em;  */
     /*   border: 1px solid yellow;  */
    }

    .homePage {
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
     /*   margin: 2px;  */
    /*    border: 1px solid white;   */
    }

    .headingCntnr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /*    border: 1px solid red;   */
    }
        

      .homePage h2 {
    /*    border: 1px solid orange;  */
        font-size: 5vw;
        height: 50px;
        margin-bottom: 1em;
      }
        

      .homePage h1 {
    /*    border: 1px solid orange;  */
        font-size: 7vw;
    /*    height: 5em;   */
      }

    .page {
        width: 100%;
        height: calc(100% - 2.5vw);
        position: absolute;
        top: 2.5vw;
        left: 0;
    /*    background-color: black;  */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
   /*     border: 1px solid red;  */
   /*     overflow: hidden;   */
    }


    /* CSS for hiding pages */
    .show {
        opacity: 1;
        transition: opacity 2s ease;
    }

    .hide {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    /* CSS z-index */

    .z5 {
        z-index: 5;
    }

    .z10 {
    	z-index: 10;
    }


    /* CSS for Company Page */

    #companyCntnr {
        width: 100%;
        height: 100%;
  /*      border: 1px solid green;  */
    }

    #companyVis {
        position:relative;
        width:100%;  /*600px */
        height: 100vh;  /* 600px */
        margin:auto;
        overflow:hidden;
        background-color:black;
  /*      border:1px solid red; */
    }

    #companyLog {
        position:absolute;
        top:3em;
        left:0.5em;  
        font-size:0.7em;
        font-weight:bold;
        color:yellow; 
        z-index:5; 
        padding:5px;
    /*  border:1px solid yellow; */
        overflow:visible;
    }



    /*TOOLTIPS*/
    .tip {
        color: #111;
        width: 139px;
        background-color: white;
        border:1px solid #ccc;
        -moz-box-shadow:#555 2px 2px 8px;
        -webkit-box-shadow:#555 2px 2px 8px;
        -o-box-shadow:#555 2px 2px 8px;
        box-shadow:#555 2px 2px 8px;
        opacity:0.9;
        filter:alpha(opacity=90);
        font-size:10px;
        font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        padding:7px;
    }


 /* for Web Company  */ 

      .page {
    /*    border: 1px solid orange;  */
      }

        #page1 h2 {
            color: orange;
          font-size: calc(1.3em + 40 * 70vw/1620);
    /*      border: 1px solid orange;  */
        }

        #page1 ul {
          font-size: calc(1.1em + 30 * 70vw/1620);
          width: 80%;
    /*      border: 1px solid orange;  */
        }

      .selectCntnr {
        position: fixed;
        top: 35px;
        left: 10px;
        z-index: 20;
      }

          .selectCntnr label {
            margin-right: 10px; 
            cursor: pointer;
            padding: 0 3px;
            color: white;
            font-size: 16px;
      /*      border: 1px solid white;  */
          }

          .selectCntnr label:hover {
            margin-top:4px;
          }

          #page2 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
     /*       border:1px solid green; */
          }

          #page2 div {
    /*        width:50%;  */
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;   
       /*     border:1px solid red; */
          }

          #page2 div ol {
     /*       border:1px solid yellow; */
          }

          #page2 div h2 {
            color: orange;
            font-size: calc(1.5em + 40 * 90vw/1620);
      /*      border:1px solid white; */
          }

          #page2 div h3 {
            color: orange;
          }
        